<ion-header>
  <ion-toolbar color="naranja-brutalista">
    <ion-title>Mi Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cart-page ion-padding">
  <!-- Estado vacío -->
  <div *ngIf="listaCarrito.length === 0" class="empty-cart ion-text-center">
    <ion-icon name="cart-outline" class="empty-icon"></ion-icon>
    <p>No has agregado productos al carrito.</p>
  </div>

  <!-- Estado con productos -->
<ion-list *ngIf="listaCarrito.length > 0">
  <ion-item *ngFor="let item of listaCarrito" class="cart-item">
    <ion-thumbnail slot="start">
      <img [src]="item.imageUrl" [alt]="item.nombre" />
    </ion-thumbnail>

    <ion-label class="ion-text-wrap">
      <h2>{{ item.nombre }}</h2>
      <p class="descr">{{ item.descripcion }}</p>

      <!-- Cantidad en un chip -->
      <ion-chip color="medium" class="cantidad-chip" outline>
        <ion-label>Cantidad: {{ item.cantidad }} {{ item.unidadMedida }}</ion-label>
      </ion-chip>
    </ion-label>

    <ion-note slot="end" class="precio">
      {{ item.precio | currency:'Bs':'symbol':'1.2-2' }}
    </ion-note>
  </ion-item>
</ion-list>

</ion-content>

<ion-footer *ngIf="listaCarrito.length > 0">
  <ion-toolbar>
    <ion-grid class="subtotal-bar ion-align-items-center">
      <ion-row>
        <ion-col size="6" class="ion-text-start">
          <strong>Subtotal:</strong>
          <span class="monto">{{ subTotal | currency:'Bs':'symbol':'1.2-2' }}</span>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button expand="block" color="naranja-brutalista">
            Confirmar Compra
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
