<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" class="icono-grande" [routerLink]="['/tabs/productos']"></ion-icon>
    </ion-buttons>
    <ion-title>{{ producto?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="img-wrapper">
    <ion-img [src]="producto?.imageUrl" [alt]="producto?.nombre"></ion-img>

    <ion-chip class="perecedero-chip" color="light">
      <ion-label>{{ producto?.perecedero ? 'Perecedero' : 'No perecedero' }}</ion-label>
    </ion-chip>
  </div>


  <ion-card class="ion-padding">
    <ion-card-header>
      <div class="titulo-precio">
        <h2>{{ producto?.nombre }}</h2>
        <p class="custom-precio">
          {{ producto?.precio | currency:'Bs ':'symbol' }} / {{ producto?.unidadMedida }}
        </p>
      </div>
    </ion-card-header>



    <ion-card-content>
      <p>{{ producto?.descripcion }}</p>

      <p *ngIf="producto?.fechaVencimiento; else noAplica" class="ion-margin-top">
        <strong>Vence:</strong> {{ producto?.fechaVencimiento | date }}
      </p>
      <ng-template #noAplica>
        <p><strong>Vence:</strong> No aplica</p>
      </ng-template>

      <p><strong>Stock disponible:</strong> {{ producto?.stockActual }}</p>
      <p><strong>Categoría:</strong> {{ producto?.categoriaNombre }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center ion-justify-content-between ion-padding-horizontal">
      <ion-col size="6" class="ion-text-start">
        <ion-buttons>
          <ion-button fill="clear" (click)="restarCantidad()" [disabled]="cantidad <= 1">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <ion-label class="ion-margin-horizontal"><strong>{{ cantidad }}</strong></ion-label>
          <ion-button fill="clear" (click)="sumarCantidad()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>

      <ion-col size="6" class="ion-text-end">
        <ion-button expand="block" color="naranja-brutalista" (click)="agregarAlCarrito()">
          Agregar al Carrito
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>