<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/tabs/explorar']">
      <ion-icon name="arrow-back-outline" class="icono-grande"></ion-icon>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Encabezado más atractivo -->
  <div class="intro-text">
    <h2>¡Explora nuestras categorías!</h2>
    <p>Encuentra productos que te encantarán, organizados por temas.</p>
  </div>

  <!-- Grid de categorías estilizado -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let categoria of listCategorias">
          <ion-card button class="categoria-card" (click)="verProductos(categoria.id, categoria.nombre)">
            <img [alt]="categoria.nombre" [src]="categoria.image?.imageUrl" class="categoria-imagen" />
            <ion-card-header>
              <ion-card-title class="ion-text-center nombre-categoria">{{ categoria.nombre }}</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>